{
    "exec-opts": [
        "native.cgroupdriver=systemd"
    ],
    "registry-mirrors": [],
    "insecure-registries": [],
    "debug": false,
    "experimental": false,
    "dns": [
        "4.4.4.4",
        "8.8.8.8"
    ],
    "log-driver": "{{ log_driver }}",
    "log-opts": {
        "max-size": "10m",
        "max-file": "5"
    },
    "storage-driver": "overlay2"
}